<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<style>
    body {
            font-family: Arial, sans-serif;
            background-color: grey;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #error-container {
            padding: 80px;
            border-radius: 8px;
            background-color: red;
        }
        p{
            color: white;
            font-size: 20px;
        }

        a {
            font-size: 20px;
            color: white;
        }
</style>
<body>
    <div id="error-container">
    <p> <%= error %> </p>
    <a href="/">Try again!</a>
    </div>
</body>
</html>